body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*--- Navbar --*/

.navbar {
    background-color: black;
}

.mobile-nav a {
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-brand #large-logo {
    height: 37px;
}

.navbar-brand #small-logo {
    height: 26px;
}

.navbar-toggler {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-nav a {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: .9vw;
    text-transform: uppercase;
}

.navbar-nav a:hover {
    transition: .5s ease;
    background-color: #3e3e3e;
    color: #bfbfbf;
}

.navbar-nav .fa-external-link-alt {
    font-size: .8vw;
}

.right-navbar-container .little-nav-line {
    border-left: 1px solid white;
    height: 20px;
    width: 5px;
}

.right-navbar-container a {
    text-decoration: none;
}

.right-navbar-container a:hover {
    transition: .1s ease;
    background-color: #3e3e3e;
}

.right-navbar-container .spanish span {
    color: white;
    font-size: 12px;
}

.right-navbar-container .spanish i {
    color: #7f7f7f;
}

.right-navbar-container .not-spanish span {
    color: white;
    font-weight: 700;
    font-size: .9vw;
    line-height: 1.2vw;
}

.right-navbar-container .not-spanish i {
    color: #7f7f7f;
}

/*--- Gray Subnav --*/

#subnav-gray {
    background-color: #e7e7e7;
    width: 100%;
    padding: 10px;
}

#subnav-gray a {
    text-decoration: none;
    color: black;
    padding: 1px 20px 1px 10px;
    border-right: 1px solid #bfbfbf;
    font-size: 14px;
}

#subnav-gray span {
    padding-left: 20px;
    font-weight: 700;
    font-size: 14px;
}

#subnav-white {
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    box-shadow: 0px 1px 0px #bfbfbf;
    position: sticky;
    line-height: 40px;
}

#subnav-white .subnav-white-item {
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin: 0px 0px 0px 20px;
}

#overview {
    font-weight: 700;
    border-bottom: 4px solid #ffba00;
    display: inline-block;
}

#rightside-fade {
    position: fixed;
    right: 0px;
    width: 20px;
    height: 40px;
    opacity: .5;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,.9));
    z-index: 1;
}

#leftside-fade {
    position: fixed;
    left: 0px;
    width: 20px;
    height: 40px;
    opacity: .5;
    background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
    z-index: 1;
}

.gray-date-drop {
    background-color: #e7e7e7;
    color: black;
    text-decoration: none;
}

.gray-date-drop {
    padding: 0px 20px;
}

a.gray-date-drop {
    font-size: 12px;
}

span.gray-date-drop {
    font-size: 12px;
    font-weight: 700;
    padding: 3px 20px;
    border-left: 1px solid #bfbfbf;
}

.gray-guy {
    background-color: #e7e7e7;
}